<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News Globe</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://unpkg.com/globe.gl"></script>
    <script src="https://d3js.org/d3.v6.min.js"></script>
</head>
<body>
    <div id="news-table">
        {{ table_html|safe }}
    </div>
    <div id="globe"></div>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>